@model UniversityProject.ViewModel.SubmitViewModel

@{
    ViewData["Title"] = "Submit";
}

<h1>Submit</h1>

<h4>Application</h4>
<hr />
<form asp-action="Submit" method="post">
    <div class="row">
        @for (var i = 0; i < Model.ViewModells.Count(); i++)
        {
            <div class="form-group">
                <label asp-for="@Model.ViewModells[i].CriteriaName" class="control-label">"@Model.ViewModells[i].CriteriaName"</label>
                <input asp-for="@Model.ViewModells[i].Grade" class="form-control" />
                <span asp-validation-for="@Model.ViewModells[i].Grade" class="text-danger"></span>
            </div>
            
            
        }



        <div class="col-md-4">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
