@model UniversityProject.Models.Student

@{
    ViewData["Title"] = "Index";
}

<h1>Assigned Students</h1>

<div>
    
    <hr />


    <table class="table table-striped table-dark">
        <thead>
            <tr class="table-info">

                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">College</th>
                <th scope="col">Grade</th>
            </tr>
        </thead>

        @foreach (var it in ViewBag.FinalList)
        {
            <tbody>
                <tr>

                    <td>@it.Student.FirstName</td>
                    <td>@it.Student.LastName</td>
                    <td>@it.College.CollegeName</td>
                    <td> @it.FinalGrade.ToString("0.##")</td>
                </tr>
            </tbody>


        }
        </table>

</div>

